 /*Estableciendo propiedad box-sizing de forma general*/
*
 {

   box-sizing: border-box;

 }

/*Estableciendo la propiedad distancia para el cuerpo de la pagina web junto con su fondo*/
body 
{

background-color:#eaeded;
padding: 15px;

}


/*Estableciendo propiedades para los titulos h1 */
h1 
{
  
  color: #1ec6ff;
  font-family: 'Urbanist', sans-serif;
  font-size: 20px;
  text-align: center;

}

/*Estableciendo las propiedades de la caja principal*/
.principal{
   


     background-image: url(imagenes/fondo_caja_principal.jpg);
     background-size: cover;
     border: 1px solid black;
     margin: auto;
     padding: 10px;
     width: 800px;
     
     

}

/*Estableciendo las propiedades para el titulo principal*/
.titulo_principal 

{
  
  color: white;
  font-family: 'Urbanist', sans-serif;
  font-size: 20px;
  text-align: center;

}
 

/*Estableciendo la distancia con la primer caja qu contiene a la seccion datos personales */
.div_personal
{
    padding: 10px;

}

/*Estableciendo propiedades de la seccion datos personales*/
.seccion_personal 
 {
   
   background-image: url(imagenes/fondo_secciones.png);
   background-size: cover;
   border: 1px solid black;
   border-radius: 5px;
   height: 350px;
   padding: 10px;

 }

/*Estableciendo propiedades para el contenido de la seccion datos personales*/
.seccion_personal p 
{
  
  float: left;
  font-family: 'IM Fell English SC', serif;
  font-size: 18px;
  line-height: 25px;
  padding: 55px;

}

/*Estableciendo propiedades de la etiqueta imagen para la foto en la secccion datos personales*/
.seccion_personal img 
{
    
    height: 250px;
    padding-top: 75px;
    padding-left: 10px;


} 



/*Estableciendo la distancia de la segunda caja que contiene la seccion estudios realizados */
.div_estudios
{

  padding: 10px;


}

/*Estableciendo propiedades para la seccion estudios realizados*/
 .seccion_estudios
 {
    
   background-image: url(imagenes/fondo_secciones.png);
   background-size: cover;
   border: 1px solid black;
   border-radius: 5px;
   height: 300px;
   padding: 10px;

 }

/*Estableciendo propiedades para el contenido de la seccion estudios realizados*/
 .seccion_estudios p 
{
  

  font-family: 'IM Fell English SC', serif;
  font-size: 18px;
  line-height: 30px;
  padding: 70px;


}



/*Estableciendo la distancia para la tercer caja contenedora de la seccion experiencia laboral*/
.div_laboral 
{
    padding: 10px;

}

/*Estableciendo propiedades para la seccion experiencia laboral*/
.seccion_laboral
 {
    
   background-image: url(imagenes/fondo_secciones.png);
   background-size: cover;
   border: 1px solid black;
   border-radius: 5px;
   height: 170px;
   padding: 10px;

 }

/*Estableciendo propiedades para el contenido de la seccion experiencia laboral*/
.seccion_laboral p
{

  font-family: 'IM Fell English SC', serif;
  font-size: 18px;
  padding: 65px;

}




/*Estableciendo la distancia para la cuarta caja contenedora de la seccion capacitaciones*/
.div_capacitaciones
{

   padding: 10px;


}

/*Estableciendo propiedades para la seccion capacitaciones*/
.seccion_capacitaciones
{
     
     background-image: url(imagenes/fondo_secciones.png);
     background-size: cover;
     border: 1px solid black;
     border-radius: 5px;
     height: 200px;
     padding: 10px;


}

/*Estableciendo propiedades para el contenido de la seccion capacitaciones*/
.seccion_capacitaciones p
{

     
     font-family: 'IM Fell English SC', serif;
     font-size: 18px;
     line-height: 30px;
     padding: 65px;

}





/*Estableciendo la distancia para la caja contenedora de la seccion referencias personales*/
.div_referencias
{

  padding: 10px;


}

/*Estableciendo propiedades para la seccion referncias personales*/
.seccion_referencias 
{
   
   background-image: url(imagenes/fondo_secciones.png);
   background-size: cover;
   border: 1px solid black;
   border-radius: 5px;
   height: 200px;
   padding: 10px;


}

/*Estableciendo propiedades para el contenedor grid*/
.grid_contenedor
{

  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 15px;

}

/*Estableciendo propiedades para los items del contenedor grid*/
.grid_contenedor div
{

border: 2px solid black;
height: 120px;
padding: 10px;


}

/*Estableciendo propiedades para los titulos h3 de cada items*/
.grid_contenedor h3
{
   
   font-family: 'IM Fell English SC', serif;
   text-align: center;


}


/*Estableciendo propiedades para el contenido por cada items*/
.grid_contenedor div p 

{
  
  font-family: 'IM Fell English SC', serif;
  line-height: 20px;
  padding: 5px;
  text-align: all;


}
